/*/
colors to keep
FFF3E0 Light Background Color
2D2B2B Dark edges and text
9D968B Lighter Text color for highlighted text
BC2C1A Red for Titles and such
/*/
@font-face {
  font-family: Gatile;
  src: url(Font/Gatile.otf);
}

body {
  font-family: Gatile, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF3E0;
}

header {
  background-color: #FFF3E0;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav h1 {
  margin: 5;
  flex-grow: 1;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

nav button {
  background-color: #BC2C1A;
  color: #FFF3E0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  margin: 20px;
}

#favorite-meal {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

#recipeList {
  margin-top: 20px;
}

#recipeList .container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  color: #BC2C1A;
}
