/*/
colors to keep
fffbf4 Background
FFF3E0 Light Background Color
2D2B2B Dark edges and text
9D968B Lighter Text color for highlighted text
BC2C1A Red for Titles and such

Inspiration: https://dribbble.com/shots/19480136-Recipes-Web-Application 
/*/
@font-face {
  font-family: Gatile;
  src: url(Font/Gatile.otf);
}

body {
  font-family: Gatile, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffbf4;
}

header {
  background-color: #FFF3E0;
  padding: 20px;
  padding-bottom: 250px;
  margin-bottom: 75px;
}

nav {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-left: 30px ;
  cursor: pointer;
}

nav button {
  background-color: #BC2C1A;
  color: #fffbf4;
  border: none;
  max-height: 35px;
  width: 150px;
  cursor: pointer;
  border-radius: 8px;
  font-family: Gatile, sans-serif;
  font-size: larger;
  margin-left: auto;
  margin-right: 25px;
}

.subMenuWrap{
  position: absolute;
  top: 7.5%;
  right: 0%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s
}

.subMenuWrap.openMenu{
  max-height: 400px;
}

.subMenu{
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.subMenu h2{
  text-align: center;
}

.subMenu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.subMenuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 10px 0;
}

.subMenuLink p{
  width: 100%;
}

.subMenuLink span{
  font-size: 15px;
  transition: transform 0.5s;
}

.subMenuLink:hover span{
  transform: translateX(5px);
}

.subMenuLink:hover p{
  font-weight: 600;
}

.container {
  margin: 0px 20px 0px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.containerList {
  margin: 20px;
}

#favorite-meal {
  background-color: #FFF3E0;
  padding: 10% 10%;
  border-radius: 8px;
  margin-right: 10px;
  grid-column: span 5;
}

#recent{
 position: relative;
 text-align: center;
 padding: none;
 margin: none;
 grid-column: span 5;
}

.recipeBox{
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  grid-gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.containerList > div.recipeBox{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.recipeBox > div{
  display: flex;
  padding: 10% 10%;
  background-color: #FFF3E0;
  border-radius: 8px;
}



h2 {
  color: #BC2C1A;

}

