/*/
colors to keep
fffbf4 Background
FFF3E0 Light Background Color
2D2B2B Dark edges and text
9D968B Lighter Text color for highlighted text
BC2C1A Red for Titles and such

Inspiration: https://dribbble.com/shots/19480136-Recipes-Web-Application 
/*/
@font-face {
  font-family: Gatile;
  src: url(Font/Gatile.otf);
}

body {
  font-family: Gatile, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffbf4;
}

header {
  background-color: #fffbf4;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

nav h1 {
  margin: 5;
  justify-content: flex-start;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-left: 50px;
}

nav button {
  background-color: #BC2C1A;
  color: #fffbf4;
  border: none;
  padding: 5px 15px 5px;
  cursor: pointer;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 5px;
  border-radius: 15px;
  font-family: Gatile, sans-serif;
  font-size: larger;
}

.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

#favorite-meal {
  background-color: #FFF3E0;
  padding: 10% 20%;
  border-radius: 8px;
  margin-right: 10px;
}

#recent{
 position: relative;
 text-align: center;
}

.recipeBox{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.recipeBox li{
  background-color: #FFF3E0;
  padding: 10%;
  border-radius: 8px;
  height: 100%;
  width: 100px;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 10px;
}



h2 {
  color: #BC2C1A;
  text-decoration: underline;
}
